@import 'materialize';
@import 'ember-cli-materialize';
@import 'components/color';

$color-harvestman-orange: #FC0;
$primary-color: color("grey", "lighten-3");
$color-dark-grey: color("grey", "darken-4");
$color-medium-grey: color("grey", "darken-2");
$color-light-grey: color("grey", "lighten-2");

$secondary-color: $color-harvestman-orange;
$tabs-underline-color: $color-harvestman-orange;
$tabs-text-color: $color-harvestman-orange;
$tabs-bg-color: $color-medium-grey;
$footer-bg-color: color("grey", "darken-4");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

h1, h2, h3, h4, h5, .tab {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color-light-grey;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  flex: 1 0 auto;
  padding-left: 240px;
  font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (min-width : 500px) {
  .side-nav.fixed {
    left: 0;
  }

  main {
    padding-left: 240px;
  }
}

@media only screen and (max-width : 600px) {
  .side-nav.fixed {
    left: -105%;
  }
  main {
    padding-left: 0;
  }
}

header {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-medium-grey;

  .top-nav {
    .active {
      color: black;
    }

    font-size: 0.8em;
    background-color: black;

    li {
      a {
        padding: 0px 5px;
      }
    }
  }

  ul {
    background-color: black;
  }

  .side-nav {
    background-color: black;
    li {
      padding: 0;
      background-color: black;
      &:hover {
        background-color: $color-light-grey;
      }
    }
    .logo {
      padding: 0px;
      height: 170px;
      img {
        width: 220px;
      }
      &:hover {
        background-color: black;
      }
      a.active {
        background-color: black !important;
      }
    }
  }

  .active {
    background-color: $color-light-grey;
    color: black;
    padding: 0;
  }
}


/* label color */
label {
  color: $color-dark-grey !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $color-dark-grey;
}

.input-field textarea:focus + label {
  color: $color-dark-grey;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid $color-harvestman-orange;
  box-shadow: 0 1px 0 0 $color-harvestman-orange;
}

textarea:focus {
  border-bottom: 1px solid $color-harvestman-orange !important;
  -webkit-box-shadow: 0 1px 0 0 $color-harvestman-orange !important;
  -moz-box-shadow: 0 1px 0 0 $color-harvestman-orange !important;
  box-shadow: 0 1px 0 0 $color-harvestman-orange !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: color("orange", "darken-4");
}

#product-list {
  .active {
    background-color: color("grey", "darken-2");
    color: white;
  }
  a {
    color: color("grey", "darken-4");
  }
}

#new-product-btn {
  width: 100%;
  text-align: center;
}

#edit-product-btn {
  padding-left: 0px;
}

.btn {
  background-color: $color-dark-grey;
  color: $color-light-grey;
}

.edit-button {
  padding-left: 0px;
}

.page-footer {
  padding-bottom: 20px;
  color: white;
}

.slider {
  background-color: $color-dark-grey;
}

.product-image {
  background-color: $color-light-grey;

  .active {
    background-color: $color-medium-grey !important;
  }

  .slides {
    .active {
      padding: 20px 0px;
      background-color: $color-dark-grey !important;
    }
  }
  img {
    background-size: contain !important;
    background-repeat: no-repeat;
  }
}

.model-number {
  color: $color-dark-grey;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.product-name {
  color: $color-dark-grey;
  font-weight: bold;
  text-transform: uppercase;
}

#description {
  background-color: $color-light-grey;
}

.clickable {
  cursor: pointer;
}

.product-tile {
  max-width: 250px;
  .card-image {
    padding: 10px;
    background-color: $color-dark-grey;
    img {
      max-height: 150px;
      height: 150px;
      width: auto;
      margin: auto;
    }
  }
  .card-content {
    background-color: $color-medium-grey;
    font-size: 0.8em;
    padding: 5px;
    p {
      color: $color-light-grey;
    }
    .title {
      font-weight: bold;
      text-transform: uppercase;
      color: $color-harvestman-orange;
    }
  }
}


.show-newlines {
  p {
    white-space: pre-line;
  }
}

.nested-form {
  padding-bottom: 20px;
}
