<div class="row">
  <div class="col s12">
  {{#link-to "post.new"}}
    New Post
  {{/link-to}}
  </div>
</div>

{{#each model.posts as |post|}}
  <div class="row">
    <div class="col s12">
      {{hm-post-display post=post}}
    </div>
  </div>
{{/each}}
