<div class="row">
  <div id="product-list" class="col s3 sidebar">
    <div class="collection">
      {{#each model.pages as |page|}}
        {{#link-to 'page.show' page.id class="collection-item"}}
          {{page.title}}
        {{/link-to}}
      {{/each}}
    </div>
    {{#link-to 'page.new' id="new-page-btn" class="waves-effect waves-orange btn-flat"}}Add New Product{{/link-to}}
  </div>
  <div class="col s9">
    {{outlet}}
  </div>
</div>
