<div class="card clickable product-tile">
    <div class="card-image">
      {{#link-to "product.show" product.id}}
        <img src="/assets/images/hertzdonut.png" />
      {{/link-to}}
    </div>
    <div class="card-content">
      <div class="title">{{product.name}}</div>
      <p>blah blah blah</p>
    </div>
</div>
