<div class="card clickable product-tile">
  {{#link-to "product.show" product.id}}
    <div class="card-image">
      <img class="responsive-img" src={{product.images.firstObject.url}}>
    </div>
    <div class="card-content">
      <div class="title">{{product.name}}</div>
      <p>{{product.briefDescription}}</p>
    </div>
  {{/link-to}}
</div>
