<div class="row">
  <div class="col">
    <h5>Products</h5>
    {{#if model.isAuthenticated}}
      {{#link-to 'product.new'}}New Product{{/link-to}}
    {{/if}}
  </div>
</div>

{{hm-product-tiles products=model.products}}
