<row>
  <div class="col s12">
    <h5>Products</h5>
  </div>
</row>

<row>
  {{#each products as |product|}}
    <div class="col">
      {{hm-product-tile product=product}}
    </div>
  {{/each}}
</row>
