<row>
  <h5>{{page.title}}</h5>
</row>

<row>
  {{#link-to 'page.edit' page.id class="btn-flat edit-button"}}Edit{{/link-to}}
</row>

<row>
  <div id="page-content" class="col s12">
    {{{page.content}}}
  </div>
</row>


