<row>
  <h5>{{page.title}}</h5>
</row>

<row>
  {{#link-to 'page.edit' page.id id="edit-product-btn" class="btn-flat"}}Edit{{/link-to}}
</row>

<row>
  <div class="col s12">
    {{{page.content}}}
  </div>
</row>


