<div class="logo-header">
  <div class="container">
    <a href="#" class="main-logo brand-logo">INDUSTRIAL MUSIC ELECTRONICS</a>
  </div>
</div>
<nav>
  <div class="nav-wrapper container">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li>{{#link-to "home"}}Home{{/link-to}}</li>
    </ul>
    <ul id="nav-mobile" class="hide-on-med-and-down right">
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "product"}}Products{{/link-to}}</li>
      <li>{{#link-to "systems"}}Systems{{/link-to}}</li>
      <li>{{#link-to "news"}}News{{/link-to}}</li>
      <li>{{#link-to "media"}}Media{{/link-to}}</li>
      <li>{{#link-to "firmware"}}Firmware{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
